@tailwind base;
@tailwind components;
@tailwind utilities;


.bg__login {
  background-image: url("../assets/img-bg-login.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}